body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to right, #4776e6, #8e54e9);
}
main .start {
  display: inline-block;
  position: relative;
  left: calc(100% - 70%);
  top: 350px;
  width: 600px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: large;
  color: white;
}
main .start .startOne {
  float: left;
  width: 50%;
  padding-left: 40px;
  text-align: center;
}
main .start .startTwo {
  float: right;
  padding-left: 40px;
  width: 50%;
  text-align: center;
}
main .afterLeft {
  display: none;
  width: 25%;
  margin-top: 100px;
  float: left;
}
main .afterLeft ul li {
  list-style: none;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 25px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}
main .afterLeft ul li:hover {
  background-color: violet;
  border: none;
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
}
main .afterRigth {
  width: 75%;
  float: right;
  display: none;
  margin-top: 100px;
}
#outputQuestion {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 25px;
}
.afterRigth .left {
  display: inline-block;
  width: 70%;
}
.afterRigth .rigth {
  width: 30%;
  float: right;
}
.afterRigth .rigth .header {
  color: white;
}
.afterRigth .rigth .header span {
  color: whitesmoke;
}
.green,
.red,
.grey,
.white {
  width: 10px;
  height: 10px;
  display: inline-block;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.grey {
  background-color: grey;
}
.afterRigth .rigth span {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.rules {
  margin-top: 30px;
}
.white {
  background-color: yellow;
}
.afterRigth .rigth p {
  font-size: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
}
.chooseAnswer {
  margin-top: 40px;
}
.container {
  margin-top: 30px;
}
.container input {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.container label {
  font-size: 20px;
  margin-left: 10px;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
.squareBorder {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}
HTML CSSResult Skip Results Iframe EDIT ON .wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reload,
.next,
.back,
.finish,
.sumbit {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.next span {
  position: relative;
  z-index: 2;
}
.reload span {
  position: relative;
  z-index: 2;
}
.reload:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}
.next:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: cyan;
  transition: all 0.35s;
}
.next:hover {
  color: #fff;
}
.next:hover:after {
  width: 100%;
}
.reload:hover {
  color: #fff;
}
.reload:hover:after {
  width: 100%;
}
.back span {
  position: relative;
  z-index: 2;
}
.back:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: grey;
  transition: all 0.35s;
}
.back:hover {
  color: #fff;
}
.back:hover:after {
  width: 100%;
}
.finish span {
  position: relative;
  z-index: 2;
}
.finish:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: orange;
  transition: all 0.35s;
}
.finish:hover {
  color: #fff;
}
.finish:hover:after {
  width: 100%;
}
.sumbit span {
  position: relative;
  z-index: 2;
}
.sumbit:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: green;
  transition: all 0.35s;
}
.sumbit:hover {
  color: #fff;
}
.sumbit:hover:after {
  width: 100%;
}
.firstRow {
  width: 100%;
  display: inline-block;
}
.firstRow .leftOne {
  width: 33%;
  display: inline-block;
}
.firstRow .middleOne {
  float: right;
  width: 33%;
}
.firstRow .rigthOne {
  float: right;
  width: 33%;
}
.secondRow {
  width: 100%;
  display: inline-block;
}
.secondRow .leftOne {
  width: 30%;
  display: inline-block;
  margin-left: 110px;
}
.secondRow .rigthOne {
  display: inline-block;
  width: 40%;
  margin-left: 30px;
}
